[Unit]
Description=Docker registry
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill docker-registry
ExecStartPre=-/usr/bin/docker rm docker-registry
ExecStart=/usr/bin/docker run --name docker-registry \
	-e SERVICE_NAME=docker-registry \
	-e MIRROR_SOURCE=https://registry-1.docker.io \
	-e MIRROR_SOURCE_INDEX=https://index.docker.io \
	-e MIRROR_TAGS_CACHE_TTL=2592000 \
	-p 5000:5000 \
	-v /srv/volume/docker-registry:/tmp \
	registry
ExecStop=-/usr/bin/docker stop docker-registry

[Install]
WantedBy=multiuser.target
