[Unit]
Description=Redis cluster 1 instance 3
After=docker.service
Requires=docker.service
After=redis-1-3-amb-1.service
Requires=redis-1-3-amb-1.service
After=redis-1-3-amb-2.service
Requires=redis-1-3-amb-2.service
After=redis-1-3-amb-3.service
Requires=redis-1-3-amb-3.service

[Service]
Environment=UNIT=redis-1-3
TimeoutStartSec=0
ExecStartPre=-/usr/bin/mkdir -p /srv/volumes/${UNIT}
ExecStartPre=-/usr/bin/chown 999 /srv/volumes/${UNIT}
ExecStartPre=-/usr/bin/docker kill ${UNIT}
ExecStartPre=-/usr/bin/docker rm ${UNIT}
ExecStart=/usr/bin/docker run --name ${UNIT} -e SERVICE_NAME=${UNIT} --link=${UNIT}-amb-1:redis_1_1 --link=${UNIT}-amb-2:redis_1_2 --link=${UNIT}-amb-3:redis_1_3 -P -v /srv/volumes/${UNIT}:/data redis /bin/bash -c 'echo slaveof $${REDIS_1_1_PORT_10000_TCP_ADDR} $${REDIS_1_1_PORT_10000_TCP_PORT} > /data/redis.conf; exec redis-server /data/redis.conf'
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
# Machine: core-03
X-ConditionMachineID=0571bdd2
X-Conflicts=redis-1-?.service
