[Unit]
Description=Consul agent
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill consul
ExecStartPre=-/usr/bin/docker rm consul
ExecStart=/usr/bin/docker run --name consul \
	-h ${HOSTNAME} \
	-p {{coreos_private_ipv4}}:8300:8300 \
	-p {{coreos_private_ipv4}}:8301:8301 \
	-p {{coreos_private_ipv4}}:8301:8301/udp \
	-p {{coreos_private_ipv4}}:8302:8302 \
	-p {{coreos_private_ipv4}}:8302:8302/udp \
	-p {{coreos_private_ipv4}}:8400:8400 \
	-p {{coreos_private_ipv4}}:8500:8500 \
	-p {{docker_bridge_ipv4}}:53:53/udp \
	-v /srv/volume/consul:/data \
	progrium/consul -server -advertise {{coreos_private_ipv4}} -join {{consul_leader_ipv4}}
ExecStop=-/usr/bin/docker stop consul

[Install]
WantedBy=multiuser.target
