[Unit]
Description=Redis cluster 1 master
After=docker.service
Requires=docker.service

[Service]
Environment=UNIT=redis-1-master
Environment=VOLUME=/srv/volumes/redis-1
TimeoutStartSec=0
ExecStartPre=-/usr/bin/mkdir -p ${VOLUME}
ExecStartPre=-/usr/bin/chown 999 ${VOLUME}
ExecStartPre=-/usr/bin/docker kill ${UNIT}
ExecStartPre=-/usr/bin/docker rm ${UNIT}
ExecStart=/usr/bin/docker run --name ${UNIT} -e SERVICE_NAME=${UNIT} -P -v ${VOLUME}:/data redis redis-server --appendonly yes
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
X-Conflicts=redis-1-slave-*.service
