[Unit]
Description=Consul registrator
After=docker.service
Requires=docker.service
After=consul.service
Requires=consul.service

[Service]
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStart=/usr/bin/docker run \
        --name registrator \
        -h ${HOSTNAME} \
        -v /var/run/docker.sock:/tmp/docker.sock \
        progrium/registrator consul://{{coreos_private_ipv4}}:8500/
ExecStop=-/usr/bin/docker stop registrator

[Install]
WantedBy=multiuser.target
