[Unit]
Description=Consul registrator on 172.17.8.102
After=docker.service
Requires=docker.service
After=consul.service
Requires=consul.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStart=/usr/bin/docker run \
        --name registrator \
        -h ${HOSTNAME} \
        -v /var/run/docker.sock:/tmp/docker.sock \
        progrium/registrator consul://${COREOS_PRIVATE_IPV4}:8500/
ExecStop=-/usr/bin/docker stop registrator

[Install]
WantedBy=multiuser.target
